
@{
    ViewData["Title"] = "AdminDashboard";
}

<h1>AdminDashboard</h1>

@Html.ActionLink("User", "Index", "User")
@Html.ActionLink("User", "Index", "Batch")
@Html.ActionLink("User", "Index", "Course")

